.contain-info-jobs {

    border: none;

    .contain-img {
        max-width: 16rem;
    }

    @media (max-width: 768px) {
        .contain-title {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
}

.contain-links {
    margin-left: 4rem;
}

.list-tab {
    a {
        font-size: 16px;
        font-weight: 600;
        color: blue;
    }
}

.content-tabs {
    margin-left: 4rem;
    margin-top: 4rem;
}

.contain-location {
    display: flex;
}