<section class="job-detail">
    <div class="container mt-3">
        <div class="card mb-3 contain-info-jobs">
            <div class="row g-0">
                <div class="col-md-4 contain-img">
                    <img src="http://127.0.0.1:8000/images/companies/logo.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body contain-title">
                        <h5 class="card-title">Game Developer</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-3 list-tab" id="ex1" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                    aria-controls="ex1-tabs-1" aria-selected="true">JOB INFO</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                    aria-controls="ex1-tabs-2" aria-selected="false" routerLink="/company-info"
                    routerLinkActive="active">COMPANY INFO</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                    aria-controls="ex1-tabs-3" aria-selected="false">Tab 3</a>
            </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content" id="ex1-content">
            <div class="tab-pane fade show active content-tabs" id="ex1-tabs-1" role="tabpanel"
                aria-labelledby="ex1-tab-1">
                <div class="contain-job-decs">
                    <h3 class="title-decs">
                        JOB DESCRIPTION
                    </h3>
                    <p class="job-decs">
                        - Nhập số và dữ liệu đơn giản bằng tiếng Nhật vào hệ thống của công ty
                        (Chi tiết cụ thể trao đổi khi phỏng vấn)<br><br>

                        *** Thời gian làm việc: 8h – 17h<br><br>

                        - Ngày 1 và 2 đầu mỗi tháng (theo lịch làm việc của Nhật là 2 ngày đi làm đầu tiên của tháng) sẽ
                        làm việc từ 8h-19h<br><br>

                        Chọn một trong hai điều kiện (I) hoặc (II) bên dưới
                    </p>
                </div>

                <div class="contain-job-requirement">
                    <h3 class="title-requirements">
                        REQUIREMENTS
                    </h3>
                    <p>
                        - Có thể giao tiếp cơ bản bằng tiếng Nhật, trình độ tương đương N3 trở lên (không yêu cầu bằng
                        cấp)<br><br>
                        - Sử dụng thành thạo các phần mềm văn phòng word, excel...<br><br>
                        - Ưu tiên những người có kinh nghiệm sử dụng máy tính văn phòng (lĩnh vực BPO) trên 2 năm. (Sẽ
                        được trợ cấp lên tới 50 USD ~1,163,500VND)<br><br>
                        - Cẩn thận, tỉ mỉ và có trách nhiệm với công việc.<br><br>

                        *** CHỈ TIẾP NHẬN CV TIẾNG NHẬT CÓ ĐÍNH KÈM ẢNH CHỤP TRONG VÒNG 3 THÁNG GẦN NHẤT
                    </p>

                </div>

                <div class="contain-job-location">
                    <h3 class="title_location">
                        <div class="contain-location">
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                        428 Trần Đại Nghĩa, Ngũ Hành Sơn, Đà Nẵng
                    </h3>
                </div>
            </div>
            <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                Tab 2 content
            </div>
            <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                Tab 3 content
            </div>
        </div>
        <!-- Tabs content -->
    </div>
</section>