<footer class="footer">
  <div class="container-fluid p-3">
    <div class="row">
      <div class="col-lg-3">
        <div class="text-left">
          <ul class="footer__link">
            <li class="footer__link-head">VietnamWorks</li>
            <li>
              <a
                href="https://www.vietnamworks.com/company/navigosgroup?lang=en"
                target="_blank"
                title="About Us"
                >About Us</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/contact-us"
                target=""
                title="Contact Us"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="https://faq.vietnamworks.com/en"
                target="_blank"
                title="FAQ"
                >FAQ</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/terms-of-use"
                target=""
                title="Terms Of Use"
                >Terms Of Use</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-left">
          <ul class="footer__link">
            <li class="footer__link-head">For Employers</li>
            <li>
              <a
                href="https://www.vietnamworks.com/company/navigosgroup?lang=en"
                target="_blank"
                title="About Us"
                >Post Job</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/contact-us"
                target=""
                title="Contact Us"
                >Search Resume</a
              >
            </li>
            <li>
              <a
                href="https://faq.vietnamworks.com/en"
                target="_blank"
                title="FAQ"
                >Other Products and Services</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/terms-of-use"
                target=""
                title="Terms Of Use"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-left">
          <ul class="footer__link">
            <li class="footer__link-head">Jobs by location</li>
            <li>
              <a
                href="https://www.vietnamworks.com/company/navigosgroup?lang=en"
                target="_blank"
                title="About Us"
                >Ho Chi Minh</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/contact-us"
                target=""
                title="Contact Us"
                >Ha Noi</a
              >
            </li>
            <li>
              <a
                href="https://faq.vietnamworks.com/en"
                target="_blank"
                title="FAQ"
                >Da Nang</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/terms-of-use"
                target=""
                title="Terms Of Use"
                >Can Tho</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="text-left">
          <ul class="footer__link">
            <li class="footer__link-head">Jobs by categories</li>
            <li>
              <a
                href="https://www.vietnamworks.com/company/navigosgroup?lang=en"
                target="_blank"
                title="About Us"
                >Accounting</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/contact-us"
                target=""
                title="Contact Us"
                >Banking</a
              >
            </li>
            <li>
              <a
                href="https://faq.vietnamworks.com/en"
                target="_blank"
                title="FAQ"
                >IT - Software</a
              >
            </li>
            <li>
              <a
                href="https://www.vietnamworks.com/terms-of-use"
                target=""
                title="Terms Of Use"
                >IT - Hardware/Networking</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
