<header class="header">
    <nav class="navbar navbar-expand-lg mb-lg-3">
        <div class="container-fluid px-lg-4">
            <a routerLink="/" class="navbar-brand logo">
                Logo
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active">Home</a></li>
                    <li class="nav-item"><a routerLink="/jobs" class="nav-link" routerLinkActive="active">Jobs</a></li>
                    <li class="nav-item"><a routerLink="/companies" class="nav-link" routerLinkActive="active">Companies</a></li>
                    <li class="nav-item"><a routerLink="/my-job" class="nav-link" routerLinkActive="active">My jobs</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a routerLink="/for-employers" class="nav-link" style="font-weight: 600;" routerLinkActive="active">FOR EMPLOYERS</a></li>
                    <li class="nav-item"><a routerLink="/login" class="btn btn-outline-light">Login</a></li>
                    <li class="nav-item"><a routerLink="/register" class="btn btn-light">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container pb-lg-3">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search jobs">
            <button type="button" class="btn btn-warning">Search</button>
        </div>
    </div>
</header>