<div class="container mb-4">
    <h2 class="my-2">Find Your Best Working Place</h2>
    <div class="mb-3">Discover companies from the inside and find your best working place.</div>
    <div class="mb-3">
        <div class="input-group" style="max-width: 40rem;">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control" placeholder="Search jobs" style="box-shadow: 0;">
            <button type="button" class="btn btn-warning">Search</button>
        </div>
    </div>
    <div class="py-3 sounded" style="background-color: #ffffff; border: 6px;">
        <h5>Featured Companies(1)</h5>
        <div class="row">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://www.vietnamworks.com/_next/image?url=https%3A%2F%2Fimages02.vietnamworks.com%2Fcompanyprofile%2Fnull%2Fen%2FVietnamwork_Cover-01.png&w=1920&q=75" alt="" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="h5 card-title text-decoration-none">
                            IDS MEDICAL SYSTEMS (VIETNAM)
                        </a>
                        <div class="card-text">
                            Medical Services/Healthcare
                        </div>
                        <div class="card-text mb-2">
                            1 opening job
                        </div>
                        <button class="btn btn-success w-100">
                            Follow
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>